.nav{
  height: 50px;
  width: auto;
  
}
.nav>p>a{
  display: block;
  margin-top: 5px;
  height: 30px;
  /*width: 80px;*/
  color: blue;
  border-style: ridge;
  text-align: center;
  text-decoration: none;
  line-height: 25px;
}
 .nav2>a{float: right;
  margin-left: 50px;
width: 130px;

}
 .nav1>a{float: left;
margin-right:50px ;
width: 100px;
}

.container{
  position: relative;
  top: 57px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}
.container>p{
  color: green;
}
h3{
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer{position: absolute;
top:92%;
left:40%;
text-align: center;
}


body{
  background-color: rgb(226, 227, 228);
  
}
